header{
  background-color: #1b1310;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid white;
}
header h2{
  color: #FFFFFF;
  font-size: 26px;
}
header p{
  color: #FFFFFF;
  float: right;
}
.main-nav{
  display: flex;
  color: white;
  list-style: none;
  margin: 0 auto;
}
.main-nav li{
  margin:30px;
  font-size: 16px;
}
.main-nav a{
  text-decoration: none;
  color: white;
}
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4%;
}
.wrap{
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 4%;
}
.contents{
  background-image: url(../images/fv-bgi@2x.jpg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contents h1{
  color: #FFFFFF;
  font-size: 50px;
  border: 1px solid #FFFFFF;
  padding: 20px 40px;
}
.wrapper h3{
  text-align: center;
  font-size: 36px;
}
.sentence h4{
  font-size: 24px
}
.wrap h3{
  text-align: center;
  font-size: 36px;
}
.about {
  margin-top: 100px;
  margin-bottom: 100px;
}
.top{
  display: flex;
  margin-bottom: 100px;
  flex-direction: row-reverse;

}
.top-left{
 margin:auto auto auto 80px;
}
.bottom{
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.img {
  max-width:100%;
  vertical-align: bottom;
}
.bottom-left{
 margin:auto 80px auto auto ;
}
.new{
  display: flex;
  box-sizing: border-box;
}
.content{
  border: 0.5px solid #b4c1d1;
  width: 320px;
  margin: 10px;
}
.content p{
  padding: 6px 10px;
}
footer{
  text-align: center;
  background-color:  #1b1310;
}
footer p{
  color: #FFF;
  height: auto;
  padding: 20px;

}
.form{
  text-align: center;
   max-width: 700px;
   margin: 0 auto;
}
.btn{
 display: inline-block;
 width: 235px;
 padding: 10px 30px;
 border-radius: 30px;
 font-size: 2rem;
 font-weight: bold;
 text-align: center;
 color: #fff;
 background-color: #1B1310;
 box-shadow: 0px 0px 6px #1B1310;
}
input,textarea{
    border: 1px solid #141414;
    padding: 10px;
    width: 700px;
}
.form p{
  margin: 0;
}
.news{
  margin-bottom: 150px;
}
.burger-btn{
  display: none;
}
@media (max-width: 768px){
  .contents{
    background-image: url(../images/fv-bgi_sp@2x.jpg);
    background-size: cover;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .main-nav{
    display: none;
  }
  .main-nav li{
    color: white;
  }
  .wrap{
    margin: 0 15px;
  }
  .wrapper h2{
    font-size: 3rem;
  }
  .top{
    flex-direction: column;
    width: 100%;
  }
  .bottom{
    flex-direction: column;
    width: 100%;
  }
  .img{
    object-fit: cover;
    max-width: 100%;
    margin: auto;
  }
  .top-left{
    margin:0 15px;
  }
  .bottom-left{
    margin:0 15px;
  }
  .new{
    flex-direction: column;
  }
  input,textarea{
    max-width: 100%;
  }
  .about{
    margin-bottom: 150px;
  }
  .service{
    margin-bottom: 150px;
  }
  .news{
    margin-bottom: 150px;
  }
  .news h3{
    margin-bottom: 50px;
  }
  .wrapper h2{
    font-size: 30px;
  }
  .content{
    margin: auto;
  }
  .header{
      padding: 0 5%;
  }
  .burger-btn{
    margin: auto 0;
      display: block;
      width: 39px;
      height: 39px;
      position: relative;
      z-index: 3;
    background-color:transparent;
    border:none;
    }
    .bar{
      width: 20px;
      height: 1px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
    }
    .bar_top{
      top: 10px;
    }
    .bar_mid{
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .bar_bottom{
      bottom: 10px;
    }
    .burger-btn.close .bar_top{
      transform: translate(-50%,10px) rotate(45deg);
      transition: transform .3s;
    }
    .burger-btn.close .bar_mid{
      opacity: 0;
      transition: opacity .3s;
    }
    .burger-btn.close .bar_bottom{
      transform: translate(-50%,-8px) rotate(-45deg);
      transition: transform .3s;
    }
#bg{
  background-color:black;
  height: 1000px;
}
#bg li{
  text-align: center;
  list-style: none;
  padding: 40px;
  font-size: 16px;
}
#bg a{
  text-decoration: none;
  color: white;
}
.close{
  float: right;
  margin: 20px;
  color: white;
  font-size: 20px;
}
.close:hover{
  cursor: default;
}
#bg ul{
  padding-top:200px;
}
